@import url('https://rsms.me/inter/inter.css');
@font-face {
  font-family: 'Ayer Poster';
  src: local('Ayer Poster Medium'), local('Ayer-Poster-Medium'), url('/AyerPoster-Medium.woff2') format('woff2'),
    url('/AyerPoster-Medium.woff') format('woff'), url('/AyerPoster-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
}

a {
  color: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 5s ease 1s forwards;
}
